@use 'base/variables' as v;
@use 'base/mixins' as m;

.descargar {
    padding: v.$separacion 0;
    background-color: v.$grisClaro;

    &__grid {
        @include m.tablet {
            @include m.grid(2, v.$separacion);
        }
    }

    &__imagen {
        width: 50%;
        margin: 0 auto;
        transition: transform .3s ease-in-out;

        &:hover {
            transform: scale(1.1) rotate(3deg);
        }
    }
}